nav a {
    margin-right: 70px;
    font-size: large;
}
nav a.active {
    /* text-decoration: underline; */
    background-color: rgb(50, 52, 48);
    border: 2px solid bisque;
    border-radius: 8px;
    padding: 5px 12px;
    color: white;
}